* {
	box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

html, body {
	min-height: 100%;
	background: rgb(21, 12, 26);
	color: #000;
}

.container{
 display: flex;
 width: 75%;
 letter-spacing: 1px;

 background-color: rgb(34, 21, 51);
 position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);
}

.leftContainer{
    margin: 50px;
    flex-grow: 1;
    padding: 0 25px;


}

h1 span {
    color:rgb(143, 86, 180);
}

.leftContainer p {
    opacity: 50%;
    line-height: 1.5rem;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;


}

.listElement {
    display: flex;
    flex-direction: column;

}

.topText {
    font-weight: 700;
    font-size:x-large;
}

.bottomText {
    text-transform: uppercase;
    opacity: 50%;
    font-size: smaller;
}

.rightContainer{

 flex-grow: 1;
 background-color: rgb(105, 1, 153);

}


img {
    opacity: 50%;

  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* .layer {
      background-color: rgba(248, 247, 216, 0.7);

    background-color: cornsilk;
    width: 100%;

} */